body {
  padding-top: 50px;
}
.title {
  padding: 40px 15px;
  text-align: center;
}
.bg-holiday {
	color: Red;
}
.glyphicon-star {
	color: #ffc107;
}
.glyphicon-pushpin {
	color: #2196f3;
}
.modal-tgt {
	cursor: pointer;
}