<% layout('layout') -%>

<div class="container">
	<div class="title">
		<h2><%= message %></h2>
	</div>
</div>

<% block("header_scripts","<link rel='stylesheet' href='/public/stylesheets/calendar.css' />") -%>
<% block("footer_script1","") -%>
<% block("footer_script2","<script type='text/javascript' src='/public/javascripts/calendar.js'></script>") -%>