<% layout('layout') -%>

<div class="container">
	<div class="title">
		<h3><%= message %></h3>
	</div>

	<div class="change-month">
		<nav aria-label="Page navigation">
			<ul class="pagination justify-content-center">
				<form action="/calendar/pre" method="post" name="preForm">
					<li class="page-item"><a class="page-link-pre" href="javascript:preForm.submit()">先月</a></li>
					<input type="hidden" name="preMonth" value="<%= preMonth %>" />
				</form>
					<li class="page-item active"><a class="page-link" id="thisMonth"><%= month %></a></li>
				<form action="/calendar/next" method="post" name="nextForm">
					<li class="page-item"><a class="page-link-next" href="javascript:nextForm.submit()">来月</a></li>
					<input type="hidden" name="nextMonth" value="<%= nextMonth %>" />
				</form>
			</ul>
		</nav>
	</div>

	<div class="calendar-main">
		<table class="table table-bordered">
			<thead>
				<tr>
					<td align="center" class="bg-holiday">日</td>
					<td align="center">月</td>
					<td align="center">火</td>
					<td align="center">水</td>
					<td align="center">木</td>
					<td align="center">金</td>
					<td align="center" class="bg-holiday">土</td>
				</tr>
			</thead>
			<tbody class="calendarBody">
			</tbody>

		</table>
	</div>
</div>

<% block("header_scripts","<link rel='stylesheet' href='/public/stylesheets/calendar.css' />") -%>
<% block("footer_script1","") -%>
<% block("footer_script2","<script type='text/javascript' src='/public/javascripts/calendar.js'></script>") -%>