<% layout('layout') -%>

<div class="container">

	<% if (typeof userName !== 'undefined') { %>

	<% } else { %>
		<div class="title">
			<h2><%= message %></h2>
		</div>
	<% } %>
</div>

<% block("header_scripts","<link rel='stylesheet' href='/public/stylesheets/index.css' />") -%>
<% block("footer_script1","") -%>
<% block("footer_script2","<script type='text/javascript' src='/public/javascripts/index.js'></script>") -%>