<% layout('layout') -%>

<div class="container">
	<div class="title">
		<h2><%= message %></h2>
	</div>

	<form method="post" data-toggle="validator" role="form">
		<div class="form-group has-feedback">
			<label for="name"  class="control-label">
				<span class="label label-danger">必須</span>　名前
			</label>
			<input type="text" class="form-control" id="name" name="name" placeholder="Enter name" maxlength="20" data-required-error="名前の入力は必須です" required>
			<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
			<div class="help-block with-errors">20文字以内で入力してください</div>
		</div>
		<div class="form-group has-feedback">
			<label for="email"  class="control-label">
				<span class="label label-info">任意</span>　E-メールアドレス
			</label>
			<input type="email" class="form-control" id="email" name="email" data-error="メールアドレスが不正です" placeholder="Enter email">
			<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
			<div class="help-block with-errors"></div>
		</div>
		<div class="form-group has-feedback">
			<label for="password"  class="control-label">
				<span class="label label-danger">必須</span>　パスワード
			</label>
			<input type="password" data-minlength="6" maxlength="20" class="form-control" id="password" name="password" placeholder="Enter password" data-required-error="パスワードの入力は必須です" required>
			<div class="help-block">6～20文字の間で入力してください</div>
			<label for="confPassword"  class="control-label">
				<span class="label label-danger">必須</span>　確認用 パスワード
			</label>
			<input type="password" class="form-control" id="confPassword" data-match="#password" data-match-error="パスワードが一致しません" placeholder="Enter password" data-required-error="パスワードの入力は必須です" required>
			<div class="help-block with-errors"></div>
		</div>
		<button type="submit" class="btn btn-primary">登録</button>
	</form>
</div>

<% block("header_scripts","<link rel='stylesheet' href='/public/stylesheets/register.css' />") -%>
<% block("footer_script1","") -%>
<% block("footer_script2","<script type='text/javascript' src='/public/javascripts/register.js'></script><script type='text/javascript' src='/public/third_party/bootstrap_validator/dist/validator.js'></script>") -%>